In [2]:
import pandas as pd

In [3]:
# Filepath for facility data file
facility_csv = "PA_facility_pollution.csv"

# Read the csv file
facility_data = pd.read_csv(facility_csv)

# Display the data table for preview
facility_data.head()

,Unique ID,FacilityName,Rank_TRI_14,Rank_GHG_14,Latitude,Longitude,LocationAddress,City,State,ZIP,...,Sixth_GHG_ID,TRI_ID,Second_TRI_ID,Third_TRI_ID,Fourth_TRI_ID,Fifth_TRI_ID,FRS_ID,Second_FRS_ID,Third_FRS_ID,Fourth_FRS_ID
0,1.10E+11,3M ASTON,11432.0,NaN,39.850112,-75.412138,50 MILTON DR,CHESTER TOWNSHIP,PA,19013,...,NaN,19014CSTMC50MIL,NaN,NaN,NaN,NaN,1.100000e+11,NaN,NaN,NaN
1,1.10E+11,A P GREEN REFRACTORIES INC SPROUL PA PLANT,6709.0,NaN,40.270910,-78.464737,2926 QUARRY RD,CLAYSBURG,PA,16625,...,NaN,16682GNRLRPOBOX,NaN,NaN,NaN,NaN,1.100000e+11,NaN,NaN,NaN
2,1.10E+11,ABERDEEN ROAD CO,NaN,NaN,40.015787,-76.726143,105 E SINKING SPRING LN,EMIGSVILLE,PA,173180435,...,NaN,17310HRCLTABERD,NaN,NaN,NaN,NaN,1.100000e+11,NaN,NaN,NaN
3,1.10E+11,LAKE REGION MEDICAL,1226.0,NaN,40.195060,-75.486960,200 W 7TH AVE,TRAPPE,PA,194260992,...,NaN,19426NFRMT200WE,NaN,NaN,NaN,NaN,1.100000e+11,NaN,NaN,NaN
4,1.10E+11,ACCURIDE ERIE,14007.0,NaN,42.131720,-80.058270,1015 E 12TH ST,ERIE,PA,16503,...,NaN,16503KWLP 1015E,NaN,NaN,NaN,NaN,1.100000e+11,NaN,NaN,NaN

In [8]:
# Filepath for cancer data file
cancer_csv = "all_cancer_incidence.csv"

# Read the csv file
cancer_data = pd.read_csv(cancer_csv)

# Display the data table for preview
cancer_data.head()

,RateRatio,Cancer_Site,County,Year,Sex,Race_Ethnicity,Age,Stage,Count,Exp_Count,Pop,RateRatioResult,LowerBound_Result,UpperBoundResult,SignificanceResult,County_Code
0,Age-Adjusted Rate,All Cancers,Adams,2014,Total,All Races,All Ages,Invasive,606,645.8,"101,714",434.2,399.2,471.7,NaN,1
1,Age-Adjusted Rate,All Cancers,Adams,2014,Total,All Races,All Ages,Early,343,373.7,"101,714",252.2,225.2,281.8,NaN,1
2,Age-Adjusted Rate,All Cancers,Adams,2014,Total,All Races,All Ages,Late,273,291.6,"101,714",195.7,172.5,221.4,NaN,1
3,Age-Adjusted Rate,All Cancers,Adams,2014,Total,All Races,All Ages,Unknown,48,47.3,"101,714",32.4,23.8,43.5,NaN,1
4,Age-Adjusted Rate,All Cancers,Allegheny,2014,Total,All Races,All Ages,Invasive,"7,859","7,575.80","1,231,255",487.9,476.8,499.3,+,3